{% extends 'base.html' %}


{% block title %}
{{ title }}
{% endblock title %}

{% block main %}

<!-- Carousel Start -->
{% include 'shop/components/_casual.html' %}
<!-- Carousel End -->


<!-- Search Start -->
{% include 'shop/components/_search.html' %}
<!-- Search End -->


<!-- About Start -->
{% include 'shop/components/_about.html' %}
<!-- About End -->


<!-- Services Start -->
{% include 'shop/components/_serves.html' %}
<!-- Services End -->


<!-- Banner Start -->
{% include 'shop/components/_banner.html' %}
<!-- Banner End -->


<!-- Rent A Car Start -->
{% include 'shop/components/_rest_a_car.html' %}
<!-- Rent A Car End -->


<!-- Team Start -->
{% include 'shop/components/_team.html' %}
<!-- Team End -->


<!-- Banner Start -->
{% include 'shop/components/_banner_2.html' %}
<!-- Banner End -->


<!-- Testimonial Start -->
{% include 'shop/components/_testimonial.html' %}
<!-- Testimonial End -->


<!-- Contact Start -->
{% include 'shop/components/_contact.html' %}
<!-- Contact End -->


<!-- Vendor Start -->
{% include 'shop/components/_vendor.html' %}
<!-- Vendor End -->


{% endblock main %}